<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>YouBikeStat Site</title>
		<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/bower_components/d3/d3.min.js"></script>
		<script type="text/javascript" src="/static/main.js"></script>
	</head>
	<body>
		<h1>YouBikeStat Site</h1>
		<p><label>Select a station: <select id="station"></select></label></p>
		<p id="capacity"></p>
		<p>Graph:</p>
		<div>
			<svg id="graph" width="1000" height="500"></svg>
		</div>
		<p><small><em>2015 Chih-Wei Fang</em></small></p>
	</body>
</html>